Node-RED/noderedflows
[{"id":"5c788085.29e4f","type":"debug","z":"bf9f6d02.4d2be","name":"Original Message","active":true,"console":"false","complete":"payload","x":277.33331298828125,"y":71.11111450195312,"wires":[]},{"id":"940e6e30.03e368","type":"tcp in","z":"bf9f6d02.4d2be","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"buffer","newline":"~E","topic":"","base64":false,"x":95,"y":22,"wires":[["5c0674d8.2a518c"]]},{"id":"5c0674d8.2a518c","type":"function","z":"bf9f6d02.4d2be","name":"Read TinyOS Serial Message","func":"//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 4;\nvar temMsg = {};\nvar humMsg = {};\nvar serMsg = {};\nvar tem_payload;\nvar hum_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttem_payload = context.bytes_array.slice(10,-5);\n\thum_payload = context.bytes_array.slice(12,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOD (HEX FORMAT)\n\tvar byte_tem_payload = new Buffer(tem_payload.length);\n\tfor(var i=0;i<tem_payload.length;i++){\n\t\tbyte_tem_payload[i] = tem_payload[i];\n\t}\n\t\n\tvar byte_hum_payload = new Buffer(hum_payload.length);\n\tfor(var i=0;i<hum_payload.length;i++){\n\t\tbyte_hum_payload[i] = hum_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tvar num_tem = byte_tem_payload.readUInt16BE(0,2);\n\ttemMsg = {payload: num_tem};\n\t\n\tvar num_hum = byte_hum_payload.readUInt16BE(0,2);\n\thumMsg = {payload: num_hum};\n\t\n\t// ranging samples from [0 , 2^16-1] to [0 , 100]\n\tvar temp = Math.round(num_tem*(100/65534));\n\tvar humid = Math.round(num_hum*(100/65534));\n\t\n\t//MAKE a Serial Data string out of TWO Single Fields\n\t//serMsg.temperature = temp;\n\t//serMsg.humidity = humid;\n\tserMsg.payload = {};\n\tvar newdate = new Date().toTimeString();\n\tserMsg.payload.date = newdate;\n\tserMsg.payload.Humidity = humid;\n\tserMsg.payload.Temperature = temp;\n\n\treturn [msg,temMsg,humMsg,serMsg];\n}\nelse{\n\treturn null;\n}\n\n\n","outputs":"4","noerr":0,"x":157.44442749023438,"y":166.55557250976562,"wires":[["5c788085.29e4f"],["a6d13c4b.8206d"],["9a7f383.3e11948"],["c581dd89.76b2","16502942.59a667","6b26dd4b.9dd08c","ac1d4fc6.289ff8"]]},{"id":"2de0686d.ae0bc","type":"debug","z":"bf9f6d02.4d2be","name":"temp","active":true,"console":"false","complete":"payload","x":744.0001220703125,"y":143.88885498046875,"wires":[]},{"id":"5ae6dda5.d4c534","type":"debug","z":"bf9f6d02.4d2be","name":"humid","active":true,"console":"false","complete":"payload","x":742.9722290039062,"y":175.41668701171875,"wires":[]},{"id":"a6d13c4b.8206d","type":"range","z":"bf9f6d02.4d2be","minin":"0","maxin":"65555","minout":"0","maxout":"100","action":"scale","round":true,"name":"Tempreture","x":525.2777404785156,"y":144.44439697265625,"wires":[["2de0686d.ae0bc","3615730d.bb219c"]]},{"id":"9a7f383.3e11948","type":"range","z":"bf9f6d02.4d2be","minin":"0","maxin":"65555","minout":"0","maxout":"100","action":"scale","round":true,"name":"Humidity","x":516.1666259765625,"y":177.88888549804688,"wires":[["5ae6dda5.d4c534","25e3c7f0.7fc4f8"]]},{"id":"c581dd89.76b2","type":"debug","z":"bf9f6d02.4d2be","name":"Serial string message","active":true,"console":"false","complete":"true","x":175.94442749023438,"y":249.3333740234375,"wires":[]},{"id":"879fcf5c.bbb3d","type":"http request","z":"bf9f6d02.4d2be","name":"Google Drive","method":"POST","ret":"txt","url":"https://docs.google.com/forms/d/1mtCTFfsbFtxi1zyXmHhVszOUVDqSLBNoAAE66kYF-w4/formResponse?entry.1185546552={{Temperature}}&entry.99153267={{Humidity}}&entry.458333952={{date}}","x":747.5,"y":278.5555725097656,"wires":[["3a74312e.f86e86"]]},{"id":"6b26dd4b.9dd08c","type":"http request","z":"bf9f6d02.4d2be","name":"DWEET","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/IOT_EXAPLE?temp={{payload.Temperature}}&humid={{payload.Humidity}}","x":485.5,"y":322.5555725097656,"wires":[["2d7de636.95a1ca"]]},{"id":"3a74312e.f86e86","type":"debug","z":"bf9f6d02.4d2be","name":"Aknowledge from Google Form","active":false,"console":"false","complete":"payload","x":1010.5,"y":278.5555725097656,"wires":[]},{"id":"2d7de636.95a1ca","type":"debug","z":"bf9f6d02.4d2be","name":"Acknowledge from Dweet","active":false,"console":"false","complete":"payload","x":912.5,"y":324.5555725097656,"wires":[]},{"id":"ac1d4fc6.289ff8","type":"file","z":"bf9f6d02.4d2be","name":"save log file to sensorlog.txt","filename":"/home/user/PROJECT/sensorlog.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":545,"y":363.5,"wires":[]},{"id":"8ee86da2.432a78","type":"inject","z":"bf9f6d02.4d2be","name":"Read from logfile and plot 100 latest samples","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":312,"y":403.5,"wires":[["297b0ffa.d2b1b","df8da7a6.914be8"]]},{"id":"297b0ffa.d2b1b","type":"file in","z":"bf9f6d02.4d2be","name":"sensorlog.txt","filename":"/home/user/PROJECT/sensorlog.txt","format":"utf8","x":660,"y":405.5,"wires":[["e2807b8a.1266e8"]]},{"id":"e20ce2ca.6520d8","type":"debug","z":"bf9f6d02.4d2be","name":"","active":false,"console":"false","complete":"true","x":1154,"y":406,"wires":[]},{"id":"334c738c.e90954","type":"exec","z":"bf9f6d02.4d2be","command":"rm /home/user/PROJECT/sensorlog.txt","addpay":false,"append":"","useSpawn":"","name":"Delete logfile","x":704,"y":658,"wires":[[],[],[]]},{"id":"cf93bff4.0dd13","type":"inject","z":"bf9f6d02.4d2be","name":"Delete logfile ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":212,"y":658.5,"wires":[["334c738c.e90954"]]},{"id":"16502942.59a667","type":"function","z":"bf9f6d02.4d2be","name":"ready for cloud","func":"var data = msg.payload;\nmsg = {};\nmsg.Humidity = data.Humidity;\nmsg.Temperature = data.Temperature;\nmsg.date = data.date;\n\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":279,"wires":[["879fcf5c.bbb3d"]]},{"id":"3615730d.bb219c","type":"switch","z":"bf9f6d02.4d2be","name":"Temperature > 50 trigger an email","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"}],"checkall":"true","outputs":1,"x":563,"y":68.5,"wires":[["ceea19af.477028"]]},{"id":"b14671ac.1d63b8","type":"e-mail","z":"bf9f6d02.4d2be","server":"smtp.gmail.com","port":"465","name":"XXXXXXX@yahoo.com","dname":"alarm email","x":1134,"y":137,"wires":[]},{"id":"4bec349e.ee947c","type":"change","z":"bf9f6d02.4d2be","name":"email builder","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor high temperature alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":68.5,"wires":[["b14671ac.1d63b8"]]},{"id":"ceea19af.477028","type":"template","z":"bf9f6d02.4d2be","name":"email text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This email has sent to notify high Temperture detection: {{payload}} Celsius !\nTake care.","x":867,"y":68.5,"wires":[["4bec349e.ee947c"]]},{"id":"5b828425.6e5ed4","type":"twitter out","z":"bf9f6d02.4d2be","twitter":"","name":"alarm Tweet","x":1136,"y":181,"wires":[]},{"id":"9bd75e0a.fe603","type":"template","z":"bf9f6d02.4d2be","name":"email text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is test project Humidity alarm to notify high humidity: {{payload}} %RH !\nTake care.","x":874,"y":236,"wires":[["5b828425.6e5ed4"]]},{"id":"25e3c7f0.7fc4f8","type":"switch","z":"bf9f6d02.4d2be","name":"Humidity > 80% broadcast Tweets an alarm","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","outputs":1,"x":597,"y":235.5,"wires":[["9bd75e0a.fe603"]]},{"id":"7640efa5.cb64b","type":"inject","z":"bf9f6d02.4d2be","name":"Open Folder","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214,"y":555.5,"wires":[["1625ed3.3812993"]]},{"id":"1625ed3.3812993","type":"exec","z":"bf9f6d02.4d2be","command":"nautilus /home/user/PROJECT","addpay":false,"append":"","useSpawn":"","name":"Open folder containing file","x":753,"y":557,"wires":[[],[],[]]},{"id":"b0835f60.f6c3c","type":"exec","z":"bf9f6d02.4d2be","command":"xdg-open 'https://freeboard.io/board/S_1MV9'","addpay":false,"append":"","useSpawn":"","name":"Freeboard real-time","x":733,"y":506,"wires":[[],[],[]]},{"id":"f7a80587.9be92","type":"inject","z":"bf9f6d02.4d2be","name":"Watch realtime Graph","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":244,"y":506.5,"wires":[["b0835f60.f6c3c"]]},{"id":"e2807b8a.1266e8","type":"function","z":"bf9f6d02.4d2be","name":"newline parser","func":"var outputMsgs = [];\nvar logs = msg.payload.split(\"\\n\");\nfor (var l in logs){\n    if(logs[l].length > 0 ){\n    outputMsgs.push({payload:JSON.parse(logs[l])});\n    }\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":844,"y":406.5,"wires":[["e20ce2ca.6520d8","cdd18275.b6a2b"]]},{"id":"d2804ca3.bb1e88","type":"exec","z":"bf9f6d02.4d2be","command":"gedit /home/user/PROJECT/sensorlog.txt","addpay":false,"append":"","useSpawn":"","name":"open file in gedit","x":723,"y":608,"wires":[[],[],[]]},{"id":"5ddde6dc.af973","type":"inject","z":"bf9f6d02.4d2be","name":"Open logfile","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":216,"y":605.5,"wires":[["d2804ca3.bb1e88"]]},{"id":"d550361e.823178","type":"debug","z":"bf9f6d02.4d2be","name":"Aknowledge from Google Form","active":false,"console":"false","complete":"payload","x":1202,"y":364,"wires":[]},{"id":"cdd18275.b6a2b","type":"http request","z":"bf9f6d02.4d2be","name":"Google Drive","method":"POST","ret":"txt","url":"https://docs.google.com/forms/d/1mtCTFfsbFtxi1zyXmHhVszOUVDqSLBNoAAE66kYF-w4/formResponse?entry.1185546552={{payload.Temperature}}&entry.99153267={{payload.Humidity}}&entry.458333952={{payload.date}}","x":988,"y":364,"wires":[["d550361e.823178"]]},{"id":"cc01c422.6d33e8","type":"exec","z":"bf9f6d02.4d2be","command":"xdg-open https://docs.google.com/spreadsheets/d/17XkvWH8fCYvzTwhb0ma6vR_sBY0zPi8ubUgzd8oX_3A/pubchart?oid=1538451297&format=interactive","addpay":false,"append":"","useSpawn":"","name":"plot last 100 samples","x":735,"y":454,"wires":[[],[],[]]},{"id":"df8da7a6.914be8","type":"delay","z":"bf9f6d02.4d2be","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":553,"y":454.5,"wires":[["cc01c422.6d33e8"]]}]
